@media screen and (max-width: 1055px){
    .menu-desktop {
        display: none;
    }
    .btn-contato {
        display: none;
    }

    header .btn-menu-mob {
        margin-right: 10px;
        display: block;
    }
    
}

@media screen and (max-width: 900px) {
    /* ========================================================================== */
    /*============================= RESPONSIVO HERO =============================*/
    /* ========================================================================== */
    section.hero-site {
        height: 110vh;
        background: linear-gradient(to bottom, #000000, #232323);
        background-size: cover;
        text-align: center;
    }
    
    .hero-site .txt-hero h1 {
        color: white;
        font-size: 2.5rem;
        font-family: "Kanit", sans-serif;
        line-height: 0.6;
        font-weight: 800;
        font-style: normal;
    }
    
    .hero-site .txt-hero span {
        background: linear-gradient(to right, #009DFF, #005E99);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        font-size: 1.8rem;
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: normal;
    }
    
    .hero-site .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }

    /* ========================================================================== */
    /*============================= RESPONSIVO SOBRE MIM =============================*/
    /* ========================================================================== */
    .sobre-mim-site .itens-sobre-mim {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    
    .sobre-mim-site {
        margin-bottom: 60px;
        padding: 10px;
    }
    
    
    .sobre-mim-site .itens-sobre-mim .txt-sm h1 {
        font-size: 2rem;
        line-height: 0.9;
    }
    
    .sobre-mim-site .itens-sobre-mim .txt-sm p {
        width: 100%;
        margin-top: 12px;
        font-size: 1.1rem;
    }
    
    .sobre-mim-site .itens-sobre-mim .btn-sm button {
        width: 180px;
        height: 35px;
        font-size: 14px;
    }

    /* ========================================================================== */
    /*============================= RESPONSIVO HABILIDADES =============================*/
    /* ========================================================================== */

    .itens-hb {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 10px;
    }
    
    .habilidade-site {
        margin-bottom: 110px;
    }
    
    .habilidade-site .itens-hb .txt-hb {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .habilidade-site .itens-hb .txt-hb h1 {
        font-size: 2rem;
    }
    
    .habilidade-site .itens-hb .txt-hb p {
        color: #ffffff;
        font-family: "Quicksand", sans-serif;
        font-size: 1.1rem;
    }
    
    .habilidade-site .itens-hb .img-hb {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px; 
        width: 100%; 
    }
    
    .habilidade-site .itens-hb .img-hb img {
        width: 60px;
    }

    /* ========================================================================== */
    /*============================= RESPONSIVO PROJETOS =============================*/
    /* ========================================================================== */
    hr {
        border: none;
        height: 2px;
        background: #ffffff;
    }
    
    .projetos {
        background-color: #292929;
        padding-bottom: 50px;
    }
    
    .projetos .interface {
        max-width: 950px;
        margin: 0 auto;
        padding: 0 20px; 
    }
    
    .itens-projetos {
        flex-direction: column;
    }
    
    .item-1 {
        order: 1;
    }

    .orcamento {
        text-align: center;
        padding: 20px 0;
        background-color: #232323;
        border-radius: 15px;
        margin-top: 50px;
    }
    
    .orcamento p {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    #btn-orcamento a button {
        width: 250px;
        height: 40px;
        font-size: 17px;
    }

    /* =====================================================================*/
    /* ============================== CONTATO ============================== */
    /* =====================================================================*/

    .contato {
        background-color: #000000;
        padding: 40px 0;
        display: flex;
        justify-content: center;
    }
    
    .itens-contato {
        display: flex;
        gap: 20px;
        max-width: 370px;
        width: 100%;
        flex-direction: column;
    }
    
    .txt-contato {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
    }
    
    .txt-contato h1 {
        font-family: "Quicksand", sans-serif;
        font-size: 1.4rem;
        line-height: 1.2;
    }
    
    .txt-contato p {
        font-size: 1.2rem;
    }
    

    .form-contato h1 {
        font-size: 1.7rem;
    }
    
    .form {
        max-width: 370px;
    }
    
    .form label, .form input, .form textarea, .form button {
        display: block;
        width: 100%;
    }
    
    
    .form button {
        width: 370px;
        height: 35px;
        font-size: 20px;
        background-color: #009DFF;
        border: 1px solid #009DFF;
        border-radius: 5px;
        color: #ffffff;
        font-family: "Kanit", sans-serif;
        cursor: pointer;
        margin-top: 10px;
    }
    
    
    /* =====================================================================*/
    /* ============================== RODAPÉ ============================== */
    /* =====================================================================*/

    footer {
        background-color: #000000;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    footer p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0.05;
        color: #4d4d4d;
        font-size: 18px;
        text-align: center;
    }
    
    footer span {
        color: #009DFF;
    }
    
    #direitos {
        padding: 30px;
    }
}